In [1]:
import pandas as pd
import numpy as np

In [2]:
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'Kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

In [3]:
df

      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    Kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [6]:
tg=df.groupby(['Team'])

In [12]:
for i in tg:
    print(i[0])
    print(i[1])

Devils
     Team  Rank  Year  Points
2  Devils     2  2014     863
3  Devils     3  2015     673
Kings
    Team  Rank  Year  Points
4  Kings     3  2014     741
5  Kings     4  2015     812
6  Kings     1  2016     756
7  Kings     1  2017     788
Riders
      Team  Rank  Year  Points
0   Riders     1  2014     876
1   Riders     2  2015     789
8   Riders     2  2016     694
11  Riders     2  2017     690
Royals
      Team  Rank  Year  Points
9   Royals     4  2014     701
10  Royals     1  2015     804

In [14]:
df.groupby(['Team']).count()

        Rank  Year  Points
Team
Devils     2     2       2
Kings      4     4       4
Riders     4     4       4
Royals     2     2       2

In [ ]:
df.groupby(['Team'])['Points'].sum()

In [ ]:
df.groupby(['Team'])['Points'].mean()

In [ ]:
df.groupby(['Team'])['Points'].min()

In [ ]:
df.groupby(['Team'])['Points'].max()

In [ ]:
gk=df.groupby(['Team','Year'])

In [ ]:
gk

In [ ]:
for i in gk:
    print(i)

In [ ]:
df

In [ ]:
t=df.groupby('Year')

In [ ]:
for i in t:
    print(i)

In [ ]:
t.get_group(2015)

In [ ]:
t['Points'].mean()

In [ ]:
t.get_group(2014)['Points'].mean()

In [ ]:
t.get_group(2016)['Points'].min()