In [ ]:
import pandas as pd
import numpy as np

dt={'Name':['Tom','James','Ricky','Messi','Steve',np.nan,'Jack'],
    'Age':pd.Series([25,26,np.nan,23,np.nan,29,23]),
    'Rateing':pd.Series([4.23,3.24,3.98,2.56,np.nan,4.6,np.nan])}

In [ ]:
df=pd.DataFrame(dt)

In [ ]:
df.isnull()

In [ ]:
df.notnull()

In [ ]:
df.isnull().sum()

In [ ]:
df.notnull().sum()

# Cleaning and Filling Missing data

In [ ]:
#df.fillna("Hey")

In [ ]:
df['Name'].fillna("Admin",inplace=True)  # inplace true update data in same dataframe

In [ ]:
df['Name']

# Handle the missing value using drop

In [ ]:
df.dropna()  # row level

In [ ]:
df.dropna(axis=1)  # columns level  # axis=0 row and axis=1 columns

# Replace missing or generic value

In [ ]:
df.replace(np.nan,'blank')

In [ ]:
df.replace(np.nan,df.mean())

In [ ]:
df['Age'].mean()
df['Rateing'].mean()

# Drop funcation in pandas

In [ ]:
# Drop column level

In [ ]:
df.drop(['Age'],axis=1)  #---> default axis=0

In [ ]:
df.drop(['Age','Name'],axis=1)

In [ ]:
df.drop(columns=['Age','Name'])

In [ ]:
# index level drop
df.drop([0,2])

In [ ]:
df.drop([0,3])

In [ ]:
df.drop([1,3,5])

In [ ]:
# drop columns and row 
df.drop(index=1,columns='Age')

In [ ]:
# Sorting in pandas

In [ ]:
#sort by index
df.sort_index()

In [ ]:
df.sort_index(ascending=False)

In [ ]:
df.sort_index(axis=1)

In [ ]:
# sort by value

In [ ]:
df.sort_values(by="Age")

In [ ]:
df.sort_values(by="Rateing")

In [ ]:
df.sort_values(by=["Age","Rateing"])